<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>
<body>
  <p><strong>Title:</strong><%= @book.title %></p>
  <p><strong>Body:</strong><%= @book.body %></p>

  <a><%= link_to"Edit","/books/#{@book.id}/edit" %></a> | <a><%= link_to"Back","/books" %></a>
</body>
